@{
    ViewBag.Title = "СДО Сервис";
}

<div class="jumbotron">
    <h3></h3>
    <p class="lead">
    </p>
    @if (User.IsInRole("Administrator") || User.IsInRole("User"))
    {
    <p>@Html.ActionLink("Начать работу", "Create", "Ship", new { area = "" }, new { @class = "buttonS" })</p>
    }
</div>
