@model ShipsService.Models.ApplicationUser
@{
    ViewBag.Title = "О пользователе";
    var userId = Model.Id;
}
@using ShipsService.Service

<div>

    <p><b>Сведения о пользователе</b></p>
    <hr/>
    <dl class="dl-horizontal">

        <dt>Аватар:</dt>
        <dd>
            <p>
                @{
                    var yes = ApplicationUserDTO.GetUserAvatar(userId).IsEmpty();
                    if (!yes)
                    {
                        @Html.Raw("<img style='width:100px;' src=\"../../Files/UserAvatarFiles/"
                                  + ApplicationUserDTO.GetUserAvatar(userId) + "\" />")
                    }
                    else
                    {
                        <h5>Аватар не выбран</h5>
                    }
                }
            </p>
        </dd>
        <hr/>
        <dt>О себе:</dt>
        <dd>
            <p>
                @ApplicationUserDTO.GetUserInfo(userId)
            </p>
        </dd>
        <hr/>
        
    </dl>
</div>
